<style>
    .context-menu-container {
        position: relative;
    }

    .context-menu {
        position: absolute;
        top: -1px;
        left: -65px;
        z-index: 5;
        border: 1px solid #CECECE;
        border-radius: 4px;
        background-color: #ffffff;
    }

    .context-menu-btn {
    }

        .context-menu-btn:focus {
            outline: none;
        }

        .context-menu-btn > span {
            transform: rotate(90deg);
        }
</style>
<div class="context-menu-container">
    <button class="btn context-menu-btn" type="button" @onclick="OnContextBtnClicked" @onblur="HideMenu">
        <span class="oi oi-ellipses"></span>
    </button>
    @if (IsShowingMenu)
    {
        <div class="context-menu" >
                <CascadingValue Value="this">
                    @ChildContent
                </CascadingValue>
        </div>
    }
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private bool IsShowingMenu { get; set; }

    protected override void OnInitialized()
    {
        HideMenu();
    }
    private void HideMenu()
    {
        IsShowingMenu = false;
    }
    private void OnContextBtnClicked()
    {
        IsShowingMenu = !IsShowingMenu;
    }
    public void ChildUsed()
    {
        HideMenu();
    }
}
