<style>
    .context-menu-container {
        position: relative;
    }

    .context-menu {
        position: absolute;
        left: -80px;
        z-index: 5;
    }

        .context-menu > ul > li {
            cursor: pointer;
        }

    .context-menu-btn {
        border: none;
        padding: 2px;
        background-color: transparent;
        border-radius: 5px;
    }

        .context-menu-btn:focus,
        .context-menu-btn:hover {
            background-color: #e6e6e6;
            outline: none;
        }

        .context-menu-btn > span {
            transform: rotate(90deg);
        }
</style>
<div class="context-menu-container">
    <button class="context-menu-btn" type="button" @onclick="OnContextBtnClicked" @onfocusout="HideMenu">
        <span class="oi oi-ellipses"></span>
    </button>
    @if (ShowMenu)
    {
        <div class="context-menu">
            <ul class="list-group">
                @ChildContent
            </ul>
        </div>
    }
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private bool ShowMenu { get; set; }

    protected override void OnInitialized()
    {
        HideMenu();
    }
    private void HideMenu()
    {
        ShowMenu = false;
    }
    private void OnContextBtnClicked()
    {
        ShowMenu = !ShowMenu;
    }
}
