@page "/shopping-list/"
@using Shopping.Shared.Data;
@using Shopping.Shared.Enums;
@using Shopping.Shared.Model;
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Shopping lists</h3>

@code {

}
