@page "/lists"
@inject NavigationManager NavigationManager
@inject IShoppingLists ShoppingListRepo
@attribute [Authorize]

<h3>Shopping lists</h3>
<hr />
<div class="row">
    <div class="col">
        <button class="btn btn-primary" type="button" @onclick="NavigateToCreatePage">
            <span class="oi oi-plus" /> Create new
        </button>
    </div>
</div>
<hr />
@if (IsLoading)
{
    <div class="row">
        <div class="col">
            <CustomSpinner>
                Loading shopping lists...
            </CustomSpinner>
        </div>
    </div>
}
else
{
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Date</th>
                <th>Item Count</th>
            </tr>
        </thead>
        <tbody>
            @if (_shoppingLists != null && _shoppingLists.Count > 0)
            {
                @foreach (var list in _shoppingLists)
                {
                    var opacity = (list.Items.Count > 0 && list.Items.All(i => i.Done)) ? "1" : "0";
                    <tr class="selectable-row" @onclick="@(()=>NavigateToDetails(list.Id))">
                        <th>
                            <span style="opacity:@opacity" class="oi oi-circle-check table-check-status">
                            </span>
                        </th>
                        <td>@list.Name</td>
                        <td>@list.ListDate.ToString("dd.MM")</td>
                        <td>@list.Items.Count</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4" class="text-center">No shopping lists available</td>
                </tr>
            }
        </tbody>
    </table>

}


@code {
    private bool IsLoading = false;
    private List<ShoppingList> _shoppingLists;

    protected async override Task OnInitializedAsync()
    {
        IsLoading = true;
        _shoppingLists = await ShoppingListRepo.GetAllAsync();
        IsLoading = false;
    }
    private void NavigateToDetails(string id)
    {
        NavigationManager.NavigateTo($"/lists/details/{id}");
    }
    private void NavigateToCreatePage()
    {
        NavigationManager.NavigateTo("/lists/create");
    }
}
