@page "/lists"
@inject NavigationManager NavigationManager
@attribute [Authorize]

<h3>Shopping lists</h3>
<hr />
<div class="row">
    <div class="col">
        <button class="btn btn-primary" type="button" @onclick="NavigateToCreatePage">
            <span class="oi oi-plus" /> Create new
        </button>
    </div>
</div>
<hr />
@if (IsLoading)
{
    <div class="row">
        <div class="col">
            <strong>Loading...</strong>
        </div>
    </div>
}
else
{
}


@code {
    private bool IsLoading = false;

    private void NavigateToCreatePage()
    {
        NavigationManager.NavigateTo("/lists/create");
    }
}
