<h3>Index</h3>

@if (IsLoading)
{
    <div class="row">
        <div class="col">
            <strong>Loading...</strong>
        </div>
    </div>
}
else
{
}


@code {
    private bool IsLoading = false;
}
