@page
@model LoginWith2faModel
@{
    ViewData["Title"] = "Not found";
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>
    Nothing to see here.
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
