@using Shopping.Shared.Enums;
@using Shopping.Shared.Enums.Converter;
@if (_model != null)
{
    <div class="@cssClass" role="alert" style="margin:12px 0px 12px 0px">
        <h6>@_model.Title</h6>
        @if (!string.IsNullOrEmpty(_model.Message))
        {
            <hr />
            <p>@_model.Message</p>
        }
        <button type="button" class="close" aria-label="close" @onclick="OnDismiss">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@code {

    private AlertComponentModel _model;

    [Parameter]
    public AlertComponentModel Model
    {
        get => _model;
        set
        {
            _model = value;
            if (_model != null)
            {
                cssClass = _model.AlertType.ToBootstrapClassName();
            }
        }
    }
    private string cssClass { get; set; }

    private void OnDismiss()
    {
        _model = null;
    }
}
