@using Shopping.Shared.Enums;
@using Shopping.Shared.Enums.Converter;

    <div class="@cssClass" role="alert" style="margin:12px 0px 12px 0px">
        <h4>@Title</h4>
        <p>@ChildContent</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public AlertType Type { get; set; }

    private string cssClass { get; set; }

    protected override void OnInitialized()
    {
        cssClass = Type.ToBootstrapClassName();
    }
}
