@using Shopping.Shared.Enums;
@using Shopping.Shared.Enums.Converter;
@if (_model != null)
{
    <div class="@cssClass" role="alert" style="margin:12px 0px 12px 0px">
        <p><strong>@_model.Title</strong> @_model.Message</p>
    </div>
}
@code {

    private AlertComponentModel _model;

    [Parameter]
    public AlertComponentModel Model
    {
        get => _model;
        set
        {
            _model = value;
            if (_model != null)
            {
                cssClass = _model.AlertType.ToBootstrapClassName();
            }
        }
    }
    private string cssClass { get; set; }

}
