
.input-search-content {
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
}

    .input-search-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .input-search-content a:hover {
            background-color: #f1f1f1;
        }

.btn-primary {
    color: #fff;
    background-color: rgb(5, 39, 103);
    border-color: rgb(5, 39, 103);
}

.text-primary {
    color: rgb(5, 39, 103) !important;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: rgb(5, 39, 103);
    border-color: rgb(5, 39, 103);
}

.table-check-status {
    color: forestgreen;
}

.card {
    margin: 6px;
}

.selectable-row {
    cursor: pointer;
}

.selectable {
    cursor: pointer;
}

.disable-mobile-zoom {
    touch-action: manipulation;
}

.greyed-out {
    opacity: 0.1;
}

.selected-row {
    background-color: rgba(58,6,71,0.1);
}

